[submodule "service-pagamento"]
	path = service-pagamento
	url = https://github.com/Rafael01Gx/java-spring-cloud-microservices-pagamentos.git
[submodule "server"]
	path = server
	url = https://github.com/Rafael01Gx/java-spring-cloud-microservices-server.git
[submodule "service-pedidos"]
	path = service-pedidos
	url = https://github.com/Rafael01Gx/java-spring-cloud-microservices-pedidos.git
[submodule "service-gateway"]
	path = service-gateway
	url = https://github.com/Rafael01Gx/java-spring-cloud-microservices-gateway.git
